<div id="find">
    <h2>Generator Sizing Calculator</h2><hr>
    <br>
    <p>Estimate the KVA for your application, accurately calculate the size of generator you will need to power your home. Call for free advice on your generator needs.    
    Start by simply clicking the button below.</p>
    <div id="calc"><a href="/gen_calc/coming_soon.html">TRY IT</a></div><br>
        </div>
    
    </div>