<%- include('includes/head.ejs') %>


<body>
    <%- include('includes/nav.ejs') %>

  <div id="pad"> </div>

  <section>
  
  
  <div id ="stories">
  <h3>QuickPenny Nigeria Limited</h3>
  <hr>
  <h5> About QuickPenny</h5>
  Founded by serial entrepreneur, Late Alhaji Jimoh Adebowale in 2019, the story of QuickPenny is that of a spiritual
  mustard seed designed to challenge capitalist structures of the 21st century by promoting a knowledge economy 
  through entrepreneur democracy. This is why Quick penny over the years has been one of the leading Generator trader in Nigeria. 
  <br><br>
  For over 30years, Our company has been specializing in the marketing, distribution and 
  installation of power generators, agricultural machines and equipments, water pumps, building equipments,
  electronic appliances and spare parts.<br>
  <br>
  We are representative of various manufacturers which enables us to provide various goods at the lowest
  possible price to individuals and institutions. <br>
  
  <h5>Our Mission</h5>
  Keeping our customers satisfied is our major goal and this has been made possible by our well trained sales
  and engineering personnel.
  
  <h5>Our Vision</h5>Innovating for our customers to power their success.
  <hr>
  Our Warranty Services is extensive ñ from basic manufacturer programs to highly complex solutions! It delivers absolute peace of mind. You can extend the life of your older technology and avoid unplanned expenses. You are assured a lasting return on your equipment with fixed cost support and reduced downtime
  <hr>
  </div>
  </section>

  
  <%- include('includes/subs.ejs') %>  
  

<%- include('includes/end.ejs') %>


